.user-finish-wrap {
  width: 100vw;
  height: 400px;
  background-color: $gray;
  padding-top: 25px;
  padding-bottom: 25px;
  .finish-form {
    background-color: $white;
    width: 450px;
    height: 250px;
    @include m-rl-auto;
    .finishWrap {
      width: 70%;
      height: 85px;
      padding-top: 25px;
      padding: 25px, 30px;
      text-align: center;
      margin: auto;

      .user-infoWrap {
        border-bottom: solid 1px;
        border-color: $gray;

        .user-finish__info {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      .user-login__button {
        @include m-top15;
        }
      .card-info {
        font-size: 10px;
        }
      }
    }
  }
}
