.mypage-wrap {
  background-color: $gray;
  height: 100%;
  width: auto;
  display: flex;
  .mypage-wrap-contents {
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    .left-contents {
      width: 350px;
      height: 600px;
      .lists-head {
        height: auto;
        .list-inner {
          background-color: $white;
          background-color: $gray;
          &__title {
            font-size: 1.2em;
            padding: 15px 15px 15px;
            @include m-top10;
            background-color: $white;
            border-radius: 10px;
          }
        }
      }
      .setting {
        margin-top: 40px;
        padding-left: 15px;
        &__title {
          font-size: 1.1em;
          font-weight: bold;
          color: black;
        }
      }
      .lists-foot {
        .list-inner {
          background-color: $white;
          border-radius: 10px;
          &__title {
            font-size: 1.2em;
            padding: 15px 15px 15px;
            @include m-top10;
            background-color: $white;
            border-radius: 10px;
          }
        }
      }
    }
    .main-contents {
      width: calc(100% - 400px);
      height: 100%;
      margin-left: 20px;
      .user-contents {
        background-color: $skyblue;
        margin: 0 auto;
        width: 100%;
        height: 300px;
        margin-top: 20px;
        .user-inner {
          height: 250px;
          width: 150px;
          background-color: $skyblue;
          margin: 0 auto;
          padding-top: 20px;
          text-align: center;
          .user-icon {
            background-color: blue;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            size: 0.5em;
          }
          .user-name{
            font-weight: bold;
            @include m-top10;
          }
          .user-trading-num {
            font-weight: bold;
            @include m-top10;
          }
          .user-trading-result {
            font-weight: bold;
            @include m-top10;
          }
        }
      }
    }
  }
}

.card-detail-warp {
  background-color: $gray;
  margin: 0 auto;
  .card-detail-inner {
    background-color: $white;
    width: 700px;
    height: auto;
    padding-bottom: 20px;
    .card-detail-header {
      font-size: 20px;
      font-weight: bold;
      padding: 30px 15px;
      border-bottom: 1px $gray solid;
      text-align: center;
      width: 700px;
      }
    .card-detail-inner-wrap{
      width: 400px;
      height: auto;
      background-color: $white;
      margin: 0 auto;

      .card-detail-contents {
        margin-top: 20px;
        .card-detail-contents-inner {
          width: 300px;
          height: auto;
          background-color: $white;
          margin: 0 auto;
          position: relative;
          padding: 10px 10px;
          border-bottom: 1px $gray solid;
          &__content {
            font-size: 1.2em;
          }
          &__exp {
            font-size: 1.2em;
          }
          &__delete-btn {
            position: absolute;
            left: 200px;
            top: 20px;
            color: red;
            .card-delete-btn {
              color: red;
              background-color: $white;
              border-color: red;
              border-radius: 10px;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}
