.all-warp {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  .l-search-wrap {
    width: 280px;
    height: 1370px;
    background-color: yellow;
    .sort-menu {
      padding: 10px 10px;
      background-color: $gray;
      width: 280px;
      height: 90px;
      position: relative;
      .icon-down {
        position: absolute;
        top: 30%;
        right: 20px;
        z-index: 2;
        font-size: 20px;
        color: #888;
      }
    }
    .detail-search-wrap {
      background-color: $white;
      width: 280px;
      height: 1280px;
      padding: 10px 10px;
      .head-text {
        font-size: 1.2em;
      }
      .search-form-keyword{
        margin-top: 20px;
        .icon-plus {
          color: darkgrey;
        }
      }
      .search-form {
        margin-top: 40px;
        position: relative;
        .icon-list {
          color: darkgrey;
        }
        .icon-down {
        position: absolute;
        top: 45%;
        right: 20px;
        z-index: 2;
        font-size: 20px;
        color: #888;
        }
      }
      .search-form-extend-brand {
        margin-top: 40px;
        .icon-tag {
          color: darkgrey;
          transform: rotate(-45deg);
        }
      }
      .search-form {
        margin-top: 40px;
        position: relative;
        .icon-expand {
          color: darkgrey;
        }
        .icon-down {
        position: absolute;
        top: 45%;
        right: 20px;
        z-index: 2;
        font-size: 20px;
        color: #888;
        }
      }
      .search-form-price {
        margin-top: 40px;
        position: relative;
        .icon-coins {
          color: darkgrey;
        }
        .icon-down {
        position: absolute;
        top: 30%;
        right: 20px;
        z-index: 2;
        font-size: 20px;
        color: #888;
        }
      }
      .search-form-clearfix {
        margin-top: 40px;
        .icon-star {
          color: darkgrey;
        }
      }
      .search-form-clearfix {
        margin-top: 40px;
        .icon-truck {
          color: darkgrey;
          transform:rotateY(180deg);
        }
      }
      .search-form-clearfix {
        margin-top: 40px;
        .icon-cart {
          color: darkgrey;
        }
      }
      .btn-wrap {
        margin-top: 40px;
        .btn-inner {
          display: flex;
          .btn-clear {
            width: 120px;
            height: 50px;
            color: $white;
            background-color: #999999;
            border-radius: 10px;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-text {
              font-weight: bolder;
            }
          }
          .btn-complete {
            width: 120px;
            height: 50px;
            color: $white;
            background-color: #e21d23;
            border-radius: 5px;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .btn-text {
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}
