.search-index-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray;
  padding-top: 40px;
  .search-index-inner {
    display: flex;
    &__left {
      margin-right: 40px;
    }
    &__right {

    }

  }
}
