* {
  box-sizing: border-box;
  font-size: 14px;
}

p {
  font-size: 12px;
}

.form-required {
  background-color: $red;
  color: $white;
  font-size: 12px;
  margin: 0 0 0 4px;
  padding: 2px 2px;
  border-radius: 2px;
}

.form-any {
  background-color: $skyblue;
  color: $white;
  font-size: 12px;
  margin: 0 0 0 4px;
  padding: 2px 2px;
  border-radius: 2px;
}

.input-default {
  width: 300px;
  height: 40px;
  color: $gray;
  font-size: 12px;
}

.submit {
  background-color: $skyblue;
  color: $white;
  width: 100%;
  height: auto;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

.header-sub {
  background-color: $gray;
  text-align: center;
  padding-top: 20px;
}
.footer-sub {
  background-color: $gray;
  text-align: center;
  padding-bottom: 20px;
}

.logo-sub {
  margin-top: 20px;
  background-color: $gray;
  width: 200px;
  height: auto;
}
