* {
  box-sizing: border-box;
  font-size: 14px;
  text-decoration: none;
}

p {
  font-size: 12px;
}

a {
  color: black;
}

.form-required {
  background-color: $red;
  color: $white;
  font-size: 12px;
  margin: 0 0 0 4px;
  padding: 2px 2px;
  border-radius: 2px;
}

.form-any {
  background-color: $skyblue;
  color: $white;
  font-size: 12px;
  margin: 0 0 0 4px;
  padding: 2px 2px;
  border-radius: 2px;
}

.input-default {
  width: 300px;
  height: 40px;
  font-size: 12px;
}

.submit {
  width: 100%;
  height: auto;
  background-color: $skyblue;
  color: $white;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

.btn-blue {
  width: 100%;
  height: auto;
  background-color: $blue;
  color: $white;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  text-decoration: none;
}

.logo-sub {
  height: auto;
  width: 200px;
  background-color: $gray;
  margin-top: 20px;
}

.item-sold-out-box {
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d;
  z-index: 100;
  position: relative;
  top: -230px;
  left: -15px;
  &__inner {
    transform: rotate(-45deg);
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: -35px 0 0 -55px;
    letter-spacing: 1px;
  }
}

.breadcrumbs-wrap {
  background-color: $gray;
  border-top: 1px $white solid;
  .breadcrumbs {
    padding: 5px;
    width: 950px;
    margin: 0 auto;
    background-color: $gray;
  }
  .breadcrumbs-list  {
    font-weight: bolder;
  }
}

.item-sold-out-box-show {
  width: 0;
  height: 0;
  border-top: 75px solid #ea352d;
  border-right: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 75px solid #ea352d;
  z-index: 100;
  position: relative;
  top: -345px;
  left: -105px;
  &__inner {
    transform: rotate(-45deg);
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: -30px 0 0 -60px;
    letter-spacing: 1px;
  }
}


.purchase-done-return-btn {
  width: 100%;
  height: auto;
  background-color: $skyblue;
  color: $white;
  line-height: 40px;
  margin-bottom: 10px;
}
