.Header {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      &__logo {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__logo a {
        width: 140px;
        display: block;
      }
      &__logo img {
        width: 100%;
        vertical-align: bottom;
      }
      &__search {
        margin-left: auto;
        width: 100%;
        &__input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        &__icon img {
          width: 100%;
          vertical-align: bottom;
        }
      }
      &__search form {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
      }
      &__search button {
        width: 36px;
        border: 0;
        cursor: pointer;
        background-color: #3CCACE;
        padding: 8px;
      }
    }
    &__nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__left {
        position: relative;
        display: flex;
        &__category {
          text-decoration: none;
          padding: 0;
          line-height: 38px;
          flex-flow: row wrap;
          &__tree {
            display: none;
            z-index: 2;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;
            &__category-tree {
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
              &__item a {
                color: #333;
                text-decoration: none;
                line-height: 32px;
                background-position: center right;
                background-repeat: no-repeat;
                background-size: 18px;
                padding: 30px;
              }
            }
          }
        }
        &__category a {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        &__brand {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
        &__brand a {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
      }
      &__right {
        margin-left: auto;
        display: flex;
        &__login {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
        &__login a{
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        &__new {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
        &__new a {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
      }
    }
  }
}

.header-sub {
  background-color: $gray;
  text-align: center;
  padding-top: 20px;
}

.Fotter {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc( ( 0.3333 ) * 100% );
      margin: 0 2% 0 0;
      &__title {
        margin:  0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
    &__content ul {
      list-style: none;
    }
    &__content ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__logo  a img {
    width: 100%;
    vertical-align: bottom;
  }
}
.Fotter p {
  font-size: 14px;
}

.footer-sub {
  background-color: $gray;
  text-align: center;
  padding-bottom: 300px;
}
