.footer-sub
  .footer-list
    %P
      会社概要（運営会社）
      プライバシーポリシー
      フリマ利用規約
  =link_to root_path do
    = image_tag asset_path('material/logo/logo.png'), alt: 'hurimaのロゴ', class: 'logo-sub'
  .copyright
    FURIMA
