.Third-img {
  background-image: image-url("material/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 40px;
  position: relative;
  &__contents {
    color: #fff;
    text-align: center;
    &__title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
    }
    &__install {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__app {
        margin-right: 10px;
        width: 155px;
      }
      &__google {
        width: 180px;
        margin-top: -10px;
      }
    }
  }
}

.Fotter {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc( ( 0.3333 ) * 100% );
      margin: 0 2% 0 0;
      &__title {
        margin:  0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
    &__content ul {
      list-style: none;
    }
    &__content ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__logo  a img {
    width: 100%;
    vertical-align: bottom;
  }
}
.Fotter p {
  font-size: 14px;
}

.footer-sub {
  background-color: $gray;
  text-align: center;
  padding-bottom: 300px;
}
