= render "shared/header-sub"

.user-finish-wrap
  .finish-form
    .finishWrap
      .user-infoWrap
        .user-finish__info
          購入が完了しました！
          %p Tシャツ
          %p ¥1,111(送料込み)

        .user-login__button
          = link_to "トップページへ", root_path
        .user-mypage__button
          = link_to "マイページへ", '/users/:id', method: :get
= render "shared/footer-sub"
