.search-result-wrap
  .search-result-container
    .search-result-header
      検索結果
    .search-result-number
      １- 100件表示
    .search-result-items
      .search-result-items-inner
        .serach-result-items-row
          ここに検索結果のアイテムが１列に４アイテム並ぶ
        .serach-result-items-row
          ここに検索結果のアイテムが１列に４アイテム並ぶ
