.l-search-wrap
  .sort-menu
    ソートメニュー
  .detail-search-wrap
    %h3.head-text
      詳細検索
    .search-form
      キーワードを追加する（検索する）
    .search-form
      カテゴリを選択する
    .search-form
      ブランド名から探す
    .search-form
      サイズを指定する
    .search-form
      価格
    .search-form
      商品の状態
    .search-form
      配送料の負担
    .search-form
      販売状況
    .btn-wrap
      .btn-inner
        .btn-clear
          クリアボタン
        .btn-complete
          完了ボタン
