.card-wrap
  .card-main
    .card-inner
      .inner__head
        .inner__head--text
          クレジットカード情報入力
      .inner__number-wrap
        .inner__number--text
          カード番号
        .inner__number--require
          必須
        .inner__number--textfield
          半角英数字のみのプレースホルダー
      .inner__img
        .inner__img--cards
          各社カード会社のimg
      .inner-validity-date
        .inner-validity-date__text
          有効期限
        .inner-validity-date__require
          必須
      .inner-input
        .inner-input__select--month
          月を選択する
        .inner-input__text--month
          月
        .inner-input__select--year
          年を選択する
        .inner-input__text--year
          年
      .inner-security
        .inner-security__text
          セキュリティコード
        .inner-security__require
          必須
      .inner-security-input-number
        .inner-security-input-number__input
          カード背面の3桁または4桁の番号のプレースホルダー
      .inner-submit-btn
        送信ボタンを配置
